<script lang="ts">
	/**
	 * Runs an automatic session which attempts to craft all items in the given
	 * minecraft API.
	 */
	import { run_automatic_session } from "./automatic_session";
	import type { NaturalProgramSketch } from "natural-programs/types";
	import type { ProgramState } from "minecraft/semantics";
	import type { CraftingWorld } from "minecraft/items";
	import type { Item } from "minecraft/items";
	import type { SourcedResult } from "./solver";

	export let solver: (
		np: NaturalProgramSketch,
		state: ProgramState
	) => Promise<SourcedResult>;
	export let initial_state: ProgramState;
	export let crafting_world: CraftingWorld<Item>;
	export let timeout_ms: number|null;

	let automatic_session_message = "";
	async function main() {
		const generator = run_automatic_session(
			solver,
			initial_state,
			crafting_world,
			timeout_ms,
		);
		for await (const message of generator) {
			automatic_session_message = automatic_session_message + "\n" + message;
		}
	}
</script>

<button on:click={main}>Run</button>

<pre>{automatic_session_message}</pre>
