<script lang="ts">
	import CSVForm from "./CSVForm.svelte";
	import { base } from '$app/paths';
	import { get_new_chain_snapshot_data } from "./chain_loader";

	export let chain_id: string;
	export let user_id: string;
	export let session_id: string;
	export let configure: boolean;

	const icon_directory = base+"/img/icons/";
	let chain_promise = get_new_chain_snapshot_data(
		chain_id,
		icon_directory,
		session_id,
		user_id,
	);
</script>

{#await chain_promise}
	<p>Loading chain data...</p>
{:then init_data}
	<CSVForm
		user_id={init_data.user_id}
		snapshot_id={init_data.snapshot_id}
		snapshot_url={init_data.snapshot_url}
		item_csv={init_data.item_csv}
		mine_csv={init_data.mine_csv}
		session_type={init_data.session_type}
		library={init_data.library}
		inventory={init_data.inventory}
		beam_search_parameters={init_data.beam_search_parameters}
		propose_parameters={init_data.propose_parameters}
		configure={configure}
		session_id={init_data.session_id}
		seed={init_data.seed}
		goal={init_data.goal}
		chain_node={init_data.chain_node}
		beam_parameters={init_data.beam_parameters}
		session_timeout_ms={init_data.session_timeout_ms}
		sat_item_bonus_usd={init_data.sat_item_bonus_usd}
		starting_sat_items_names={init_data.starting_sat_items_names}
		max_queue_size={init_data.max_queue_size}
		replay_id={init_data.replay_id}
		on:task_completed
		/>
{:catch error}
	<p>Something went wrong loading chain data: {error}</p>
	<p>Maybe the database or the NL API is offline? Try reloading the page.</p>
{/await}
