<script lang="ts">
	import ChainAggregationPlots from "./ChainAggregationPlots.svelte";
	import Bonuses from "./Bonuses.svelte";
	import SingleChainPlots from "./SingleChainPlots.svelte";
	import { get_chain_data } from '$lib/chain_plots';
	import { sign_in_anonymously } from '$lib/firebase';

	export let chain_ids: string[];

	enum Mode {
		SingleChain = "single_chain",
		ChainAggregation = "chain_aggregation",
		Bonuses = "bonuses",
	};

	let active_mode = Mode.SingleChain;

	async function get_data() {
		await sign_in_anonymously();
		const chain_data = await get_chain_data(chain_ids);
		return chain_data;
	}

	const init_promise = get_data();
</script>

{#await init_promise}
	<div class="section">
		<p>Retrieving chain data...</p>
		<progress class="progress is-medium is-primary" max="100">1%</progress>
	</div>
{:then chain_data}
<div id="main">
	<div id="section">
		<div id="container">
			<label class="label" for="mode">Mode:</label>
			<div class="select">
				<select id="mode" bind:value={active_mode}>
					{#each Object.values(Mode) as mode}
						<option value={mode}>
							{mode}
						</option>
					{/each}
				</select>
			</div>
		</div>
	</div>

	{#if active_mode === Mode.SingleChain}
		<SingleChainPlots chain_data={chain_data} />
	{:else if active_mode === Mode.ChainAggregation}
		<ChainAggregationPlots chain_data={chain_data} />
	{:else if active_mode === Mode.Bonuses}
		<Bonuses chain_data={chain_data} /> {:else}
		<p>Mode {active_mode} not supported!</p>
	{/if}
</div>
{/await}

<style>
	#main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
</style>
