<script lang="ts">
	import { set_available_chains, type Chain } from "./firebase";


	export let chains: {id: string, height: number, chain: Chain}[];
	export let available_chain_ids: string[];

	let saving = false;

	async function save() {
		saving = true;
		try {
			await set_available_chains(available_chain_ids);
			saving = false;
			available_chains = available_chain_ids.length;
			alert("Saved!");
		} catch(err) {
			alert("Something wrong happened! " + JSON.stringify(err));
		}
	}

	let available_chains = available_chain_ids.length;
</script>

<div class="container">
	<div class="content">
		<p>Active chains: {available_chains}</p>
	</div>

	<div class="content">
		<button class="button is-danger" on:click={save} disabled={saving}>Commit selected as active</button>
	</div>

	{#each chains as chain}
		<div class="content">
			<div class="card">
				<div class="card-header">
					<div class="card-header-title">
						<div class="field">
							<label class="checkbox">
								<input type="checkbox" bind:group={available_chain_ids} value={chain.id}>
								{chain.id}
							</label>
						</div>
					</div>
				</div>

				<div class="card-content">
					<p>{chain.height} complete nodes<p>
					<pre>{JSON.stringify(chain, null, 2)}</pre>
				</div>
			</div>
		</div>
	{/each}
</div>
