<script lang="ts">
	import ChainLoader from "./ChainLoader.svelte";
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	export let chain_ids: string[];
	export let user_id: string;
	export let session_id: string;

	let deciding = true;
	let chain_id = chain_ids[0];
	let configure = false;
</script>

{#if deciding}
	<div class="container">
		<form on:submit|preventDefault|once={()=>{deciding=false; dispatch("submit")}}>
			<div class="field">
				<label class="label" for="mode">Chain:</label>
				<div class="select">
					<select id="mode" bind:value={chain_id}>
						{#each chain_ids as chain_id}
							<option value={chain_id}>
								{chain_id}
							</option>
						{/each}
					</select>
				</div>
			</div>

			<div class="field">
				<label class="label" for="configure">Configure:</label>
				<input class="checkbox" id="configure" type=checkbox bind:checked={configure}>
			</div>
			<button class="button" type=submit>Go</button>
		</form>
	</div>
{:else}
	<ChainLoader
		chain_id={chain_id}
		user_id={user_id}
		session_id={session_id}
		configure={configure}
	/>
{/if}
