<script lang="ts">
	/**
	 * A 3x3 square and a crafting slot, all of which hold items
	 * (e.g. `EMPTY_SLOT_ITEM`).
	 *
	 * When an item is clicked, the `click` event is forwarded. See `ItemCard.svelte`.
	 */
	import type { Item } from "minecraft/items";
	import ItemCard from "./ItemCard.svelte";
	import Inventory from "./Inventory.svelte";

	export let crafting_table: Item[];
	export let craftable_item: Item|null;
	export let clickable: boolean = true;
</script>

<div class="column-container">
	<div>
		{#key crafting_table}
			<Inventory on:click items={crafting_table} display_infinite_copies={true} clickable={clickable} style_changes={false} />
		{/key}
	</div>
	<div class="craftable-item">
		{#key craftable_item}
			<ItemCard on:click item={craftable_item} clickable={clickable}/>
		{/key}
	</div>
</div>

<style>
	.column-container {
		display: flex;
		flex: 0;
		flex-flow: row;
	}
	.craftable-item {
		margin: auto;
		padding-left: 2em;
	}
</style>
