<script lang="ts">
	import { write_default_snapshot } from "./firebase";
	import type { SessionSnapshot } from "./session_snapshot";
	export let get_snapshot: ()=>SessionSnapshot;

	let promise: null|Promise<void> = null;
	let snapshot_name = "";

	async function create_chain() {
		await write_default_snapshot(snapshot_name, get_snapshot());
		alert("Default snapshot '" + snapshot_name + "' created!");
		promise = null;
	}
</script>

<form on:submit|preventDefault={()=>{promise=create_chain();}}>
	<label for="snapshot_name">Snapshot ID:</label>
	<input spellcheck="false" id="snapshot_name" bind:value={snapshot_name}>

	<button type=submit disabled={!snapshot_name||promise!==null}>Create default snapshot</button>
</form>
