<script lang="ts">
	import { createEventDispatcher } from 'svelte';
import { get_question } from './survey';

	let survey_button: HTMLButtonElement;
	const dispatch = createEventDispatcher();

	let survey_problems: string;
	let age: number;
	let gender: string;
	let gender_other = "";
	let communication_strategies: string;
	let frustration: number;
	let engagement: number;
	let mental_demand: number;
	let ease_of_use: number;
	let hurry: number;
	let self_success: number;
	let effort: number;
	let programming_experience: string;
	let submitted = false;

	function validate() {
		if (age === undefined)
			return false;
		if (gender === undefined)
			return false;
		if (survey_problems === undefined)
			return false;
		if (communication_strategies === undefined)
			return false;
		if (frustration === undefined)
			return false;
		if (engagement === undefined)
			return false;
		if (mental_demand === undefined)
			return false;
		if (ease_of_use === undefined)
			return false;
		if (hurry === undefined)
			return false;
		if (self_success === undefined)
			return false;
		if (effort === undefined)
			return false;
		if (programming_experience === undefined)
			return false;
		return true;
	}

	function submit() {
		if (!(validate())) {
			alert("Please fill all inputs");
			return;
		}
		survey_button.classList.add("is-loading");
		submitted = true;
		const data = {
			problems: survey_problems,
			age: age,
			gender: gender,
			gender_other: gender_other,
			communication_strategies: communication_strategies,
			frustration: frustration,
			engagement: engagement,
			mental_demand: mental_demand,
			ease_of_use: ease_of_use,
			hurry: hurry,
			self_success: self_success,
			effort: effort,
			programming_experience: programming_experience,
		};
		dispatch("submit", data);
	}
</script>

<section class="section is-medium">
	<h2 class="title">Congratulations!</h2>
	<h2 class="subtitle">You completed the task</h2>

	<form on:submit|preventDefault={submit}>

	<div class="field">
		<label class="label" for="age_input">{get_question("age")}</label>
		<input class="input" id="age_input" type="number" bind:value={age} required={true}>
	</div>

	<div class="field">
		<label class="label" for="gender">{get_question("gender")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={gender} value={"female"} required name="gender">
				Female
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={gender} value={"male"} required name="gender">
				Male
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={gender} value={"other"} required name="gender">
				Other
				<input class="input" type="text" bind:value={gender_other} disabled={gender!=="other"}>
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="demand">{get_question("mental_demand")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={1} required name="demand">
				1 (Very low)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={2} required name="demand">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={3} required name="demand">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={4} required name="demand">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={5} required name="demand">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={6} required name="demand">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={mental_demand} value={7} required name="demand">
				7 (Very high)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="hurry">{get_question("hurry")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={1} required name="hurry">
				1 (Very low)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={2} required name="hurry">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={3} required name="hurry">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={4} required name="hurry">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={5} required name="hurry">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={6} required name="hurry">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={hurry} value={7} required name="hurry">
				7 (Very high)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="self_success">{get_question("self_success")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={1} required name="self_success">
				1 (Perfect)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={2} required name="self_success">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={3} required name="self_success">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={4} required name="self_success">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={5} required name="self_success">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={6} required name="self_success">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={self_success} value={7} required name="self_success">
				7 (Failure)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="effort">{get_question("effort")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={1} required name="effort">
				1 (Very low)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={2} required name="effort">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={3} required name="effort">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={4} required name="effort">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={5} required name="effort">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={6} required name="effort">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={effort} value={7} required name="effort">
				7 (Very high)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="frustration">{get_question("frustration")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={1} required name="frustration">
				1 (Not irritated or stressed)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={2} required name="frustration">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={3} required name="frustration">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={4} required name="frustration">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={5} required name="frustration">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={6} required name="frustration">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={frustration} value={7} required name="frustration">
				7 (Very irritated or stressed)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="engagement">{get_question("engagement")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={1} required name="engagement">
				1 (Very low)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={2} required name="engagement">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={3} required name="engagement">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={4} required name="engagement">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={5} required name="engagement">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={6} required name="engagement">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={engagement} value={7} required name="engagement">
				7 (Very high)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="ease_of_use">{get_question("ease_of_use")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={1} required name="ease_of_use">
				1 (Very hard)
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={2} required name="ease_of_use">
				2
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={3} required name="ease_of_use">
				3
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={4} required name="ease_of_use">
				4
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={5} required name="ease_of_use">
				5
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={6} required name="ease_of_use">
				6
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={ease_of_use} value={7} required name="ease_of_use">
				7 (Very easy)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="programming_experience">{get_question("programming_experience")}</label>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={programming_experience} value={"none"} required name="programming_experience">
				None
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={programming_experience} value={"Novice developer"} required name="programming_experience">
				Novice developer
			</label>
		</div>
		<div class="field">
			<label class="radio">
				<input type="radio" bind:group={programming_experience} value={"Professional developer"} required name="programming_experience">
				Professional developer (including retired or unemployed)
			</label>
		</div>
	</div>

	<div class="field">
		<label class="label" for="strategies_field">{get_question("communication_strategies")}</label>
		<div class="control">
			<textarea
				bind:value={communication_strategies}
				id="strategies_field"
				class="textarea"
				></textarea>
		</div>
	</div>

	<div class="field">
		<label class="label" for="problems_field">{get_question("problems")}</label>
		<div class="control">
			<textarea
				bind:value={survey_problems}
				id="problems_field"
				class="textarea"
				></textarea>
		</div>
	</div>

	<div class="field">
		<button
			type="submit"
			class="button is-primary"
			bind:this={survey_button}
			on:click|once={()=>{submit()}}
			disabled={submitted}
		>Submit</button>
	</div>

	</form>
</section>
