<script lang="ts">
	import Inventory from "./Inventory.svelte";
	import type { Goal } from "./minecraft_app";
	import { base } from '$app/paths';

	export let goal: Goal;
	export let sat_item_n: number;
	export let sat_item_bonus_usd: number|null;

	const fake_check_item = {
		name: "check",
		icon_src: base+"/img/check-mark.png",
		is_tool: false,
		score: 0,
		is_infinite: false,
	};

	const displayed_goal = [...goal];
	for (let i = 0; i < sat_item_n; i++)
		displayed_goal.unshift(fake_check_item);

</script>

<div>
	<p>Goal:</p>
	<Inventory items={displayed_goal} clickable={false} style_changes={false}/>
	{#if sat_item_bonus_usd !== null}
		<p>Bonus: {sat_item_bonus_usd} &times {sat_item_n} completed items = ${Math.round(sat_item_bonus_usd*sat_item_n*100)/100} USD</p>
	{/if}
</div>

<style>
	div {
		margin: auto;
		width: 100%;
	}
	p {
		text-align: center;
	}
</style>
