<script lang="ts">
	import type { FailedExecution } from "$lib/firebase";
	import type { NaturalProgramSketch, SolverError, SolverResult } from "natural-programs/types";
	import type { SessionSnapshot } from "./session_snapshot";
	import { get_snapshot, type SuccessfulExecution } from "$lib/firebase";
	import { get_api, get_np_beam, preprocess_np_for_search, type ProgramState } from "./minecraft_app";
	import { parse_csvs } from "./world_csv";
	import { onDestroy } from 'svelte';
	import { solve_with_worker } from "./workers";
	import { create_np_worker } from "./workers";
	import { perturb } from "./hyperparameter_tuning";
	import type { Parameters } from "./hyperparameter_tuning";
	import { Chance } from "chance";

	type Result = (SolverError<ProgramState>|SolverResult<ProgramState>);
	type Problem = {np: NaturalProgramSketch, snapshot: SessionSnapshot};

	export let executions: (SuccessfulExecution|FailedExecution)[];
	export let solver_phase_timeout: number;
	export let starting_parameters: Parameters;
	console.log(starting_parameters);

	const seed = "Buena suerte :D";
	const batch_size = 16;
	const worker_n = 8;
	const generation_size = 32;
	const workers: Worker[] = [];
	for (let i = 0; i < worker_n; i++)
		workers.push(create_np_worker());
	let execution_progress: (number|null) = null;
	let generation_i = 0;
	let best_known_parameters = starting_parameters;
	let best_known_success_rate = 0;
	let cancel_execution = false;
	onDestroy(() => {
		cancel_execution = true;
	});

	/**
	 * Solve a synthesis problem.
	 */
	async function solve(
			problem: {np: NaturalProgramSketch, snapshot: SessionSnapshot},
			parameters: Parameters,
			worker: Worker,
			): Promise<Result> {
		const state: ProgramState = {
			inventory: problem.snapshot.inventory,
			crafting_table: [],
			held_item: null,
		};
		const np = problem.np;
		const library = problem.snapshot.library;
		const world = parse_csvs(problem.snapshot.item_csv, problem.snapshot.mine_csv, problem.snapshot.seed, "");
		const api = get_api(world);
		const search_np = await preprocess_np_for_search(np, library);

		return solve_with_worker({
			np: search_np,
			state: state,
			beam: await get_np_beam(
				search_np,
				library,
				parameters.beam_search_parameters.library_beam_width,
				parameters.beam_parameters,
			),
			parameters: parameters.beam_search_parameters,
			world: world,
			api: api,
			library: library,
			timeout_ms: solver_phase_timeout,
			propose_parameters: parameters.propose_parameters,
			max_queue_size: parameters.max_queue_size,
			fringe_seed: [] // TODO: track this data too!
		}, worker);
	}

	/**
	 * Get the synthesis problem associated with the execution.
	 */
	const snapshot_cache = new Map<string, SessionSnapshot>();
	async function get_synthesis_problem(
			execution: (SuccessfulExecution|FailedExecution)
			): Promise<Problem> {
		const maybe_snapshot = snapshot_cache.get(execution.execution_snapshot_id);
		const snapshot = (maybe_snapshot !== undefined) ?
			maybe_snapshot :
			await get_snapshot(execution.execution_snapshot_id, "");
		if (maybe_snapshot === undefined)
			snapshot_cache.set(execution.execution_snapshot_id, snapshot);
		return {
			np: JSON.parse(execution.np),
			snapshot: snapshot,
		}
	}

	/**
	 * Returns the success rate of the given parameters on the given executions.
	 */
	async function benchmark(
			parameters: Parameters,
			executions: (SuccessfulExecution|FailedExecution)[],
			): Promise<number> {
		const results: Result[] = [];
		const remaining = [...executions];

		const all_complete = new Promise(async function(resolve) {
			function check_queue(result: Result, worker: Worker) {
				results.push(result);

				if (results.length === executions.length)
					resolve(0);

				// Check if worker can be assigned to new tasks
				// There are no race conditions in this code because javascript
				// never interrupts function executions
				const execution = remaining.pop();
				if (execution === undefined) {
					return;
				}
				get_synthesis_problem(execution)
					.then(problem=>solve(problem, parameters, worker))
					.then(r=>check_queue(r, worker));
			}

			// Build initial tasks
			for (const worker of workers) {
				const execution = remaining.pop();
				if (execution === undefined)
					break;
				const problem = await get_synthesis_problem(execution);
				const promise = solve(problem, parameters, worker);
				promise.then(r=>check_queue(r, worker));
			}
		});

		await all_complete;

		const successful = results.filter(r=>!("error" in r));
		const success_rate = successful.length/results.length;
		return success_rate;
	}

	async function init() {
		const chance = new Chance(seed);

		// Build initial generation
		let generation = [best_known_parameters];
		while (generation.length < generation_size)
			generation.push(perturb(best_known_parameters, chance.integer()));

		// Optimization loop
		while (true) {
			// Pick a batch from the dataset to evaluate individuals
			const batch = chance.pickset(executions, batch_size);

			// Evaluate fitness of each individual
			execution_progress = 0;
			let generation_best = Number.NEGATIVE_INFINITY;
			for (const parameters of generation) {
				const success_rate = await benchmark(parameters, batch);

				// Update best
				if (success_rate > generation_best) {
					generation_best = success_rate;
					best_known_success_rate = success_rate;
					best_known_parameters = parameters;
				}

				// Log
				execution_progress = execution_progress + 100/generation.length;
			}

			// Perturb elite to build next generation
			generation = [best_known_parameters];
			while (generation.length < generation_size)
				generation.push(perturb(best_known_parameters, chance.integer()));

			generation_i = generation_i + 1;
			if (cancel_execution) break;
		}
	}

	init();
</script>

<div class="content">
	{#key best_known_parameters}
		<div class="field">
			<label for="bp">Best known parameters:</label>
			<textarea class="textarea" id="bp" spellcheck="false" rows={JSON.stringify(best_known_parameters, null, 2).split("\n").length} disabled>{JSON.stringify(best_known_parameters, null, 2)}</textarea>
		</div>
		<div class="field">
			<label for="bc">Success rate of current best (over most recent random batch of size {batch_size}):</label>
			<textarea class="textarea" id="bc" spellcheck="false" disabled>{best_known_success_rate}</textarea>
		</div>
	{/key}
</div>

{#if execution_progress === null}
	<p>Waiting for experiments to start...</p>
{:else}
	<p>Simulating generation {generation_i+1}</p>
	<progress class="progress is-medium is-primary" value={execution_progress} max="100">{execution_progress}%</progress>
	<p>Will continue performing experiments forever...</p>
{/if}
