<script lang="ts">
	import IDE from "./ide/IDE.svelte";
	import CraftingState from "./CraftingState.svelte";
	import ItemCard from "./ItemCard.svelte";
	import Modal from "./Modal.svelte";
	import ItemDetails from "./ItemDetails.svelte";
	import GoalComponent from "./Goal.svelte";
	import TimerComponent from "./Timer.svelte";
	import DefaultSnapshotCreation from "./DefaultSnapshotCreation.svelte";
	import Signatures from "./Signatures.svelte";
	import { get_fringe_seed, get_remaining_ms, type MinecraftAPI } from "./minecraft_app";
	import type { Item } from "minecraft/items";
	import type { CraftingWorld } from "minecraft/items";
	import type { ProgramState } from "minecraft/semantics";
	import type { NaturalProgramSketch } from "natural-programs/types";
	import type { NaturalSignature } from "natural-programs/types";
	import type { Outcome } from "./ide/blocks";
	import type { Library } from "natural-programs/library/library";
	import type { AppSketchSolver } from "./minecraft_app";
	import { concrete_interpreter } from "./minecraft_app";
	import { MinecraftSimplePrimitive } from "minecraft/grammar";
	import { get_craftable_item } from "minecraft/semantics";
	import { execute } from "minecraft/semantics";
	import type Blockly from 'blockly';
	import { get_closest_item } from "./minecraft_app";
	import { get_closest_post_condition } from "./minecraft_app";
	import { get_code_standards_error } from "./minecraft_app";
	import type { Goal } from "./minecraft_app";
	import { snapshot_as_json, type SessionSnapshot } from "./session_snapshot";
	import type { BeamSearchParameters } from "./session_snapshot";
	import { SessionType } from "./session_snapshot";
	import type { BeamParameters } from "./minecraft_app";
	import type { BlocklyButtons } from "./minecraft_app";
	import { get_new_snapshot_id, write_rejected_chain_node, write_replay } from "./firebase";
	import { write_automatic_post_condition_answer } from "./firebase";
	import { write_event } from "./firebase";
	import { write_session } from "./firebase";
	import { write_snapshot } from "./firebase";
	import { write_snapshot_json } from "./firebase";
	import type { ChainNode } from "./firebase";
	import CraftingRecipe from "./CraftingRecipe.svelte";
	import VideoSlideshow from "./VideoSlideshow.svelte";
	import BrowserInteractionTime from 'browser-interaction-time'
	import { createEventDispatcher } from 'svelte';
	import { onDestroy } from 'svelte';
	import { get_constraint_as_string } from "minecraft/constraints";
	import { get_constraint_from_string } from "minecraft/constraints";
	import { base } from '$app/paths';
	import type { ProposeParameters } from "natural-programs/library/proposers";
	import Timer from "easytimer.js";
	import { write_chain_node } from "./firebase";
	import { get_chain } from "./firebase";
	import { record } from "rrweb";
	import { BlockType, simple_signature_as_block_info } from "./ide/blocks";
	import { values } from "natural-programs/library/library";
	import { get_direct_programming_toolbox } from "./minecraft_app";
	import { get_natural_toolbox } from "./minecraft_app";
	import { naturalize_simple_primitive } from "minecraft/solutions";
	import AutomaticSession from "./AutomaticSession.svelte";
	import type { SourcedSolverResult } from "./solver";
	import type { SourceSolver } from "./solver";
	import type { SuccessfulExecution } from "./events";

	const dispatch = createEventDispatcher();

	const execution_modal_solving_message = "The robot is trying to solve your command.";
	const post_save_failing_signatures_test_message = "Command was successful. The robot is quickly revisiting previously failed signatures to improve its performance.";
	const show_signatures_button_callback = "show_signatures";

	export let state: ProgramState;
	export let library: Library;
	export let solver: AppSketchSolver;
	export let world: CraftingWorld<Item>;
	export let save_successful_execution: (
		outcome: Outcome<ProgramState>,
		block: Blockly.BlockSvg,
		library: Library,
		notify: boolean,
		)=>Promise<void>;
	export let show_debug_menu: boolean;
	export let item_csv: string;
	export let mine_csv: string;
	export let session_type: SessionType;
	export let beam_search_parameters: BeamSearchParameters;
	export let propose_parameters: ProposeParameters;
	export let snapshot_id: string;
	export let snapshot_url: string;
	export let session_id: string;
	export let user_id: string;
	export let seed: string;
	export let goal: Goal|null;
	export let chain_node: ChainNode|null;
	export let tutorial_video_urls: {title: string, path: string}[];
	export let api: MinecraftAPI;
	export let beam_parameters: BeamParameters;
	export let session_timeout_ms: number|null;
	export let sat_item_bonus_usd: number|null;
	export let starting_sat_items_names: string[];
	export let solver_stopwatch: Timer;
	export let show_library_stopwatch: Timer;
	export let max_queue_size: number;
	export let replay_id: string|null;
	export let show_signature_execution_error_stopwatch: Timer;

	// Timers
	const session_timer = new Timer();
	const show_recipes_stopwatch = new Timer();
	const show_tutorial_stopwatch = new Timer();

	// Screen recording events
	const replay_events: any[] = [];

	// Failing signatures update configuration
	const failing_signatures_max_ms = 50;
	const per_failing_signature_max_ms = 10;
	const max_failing_signatures = 5;
	let new_successful_signatures: null|NaturalSignature[] = null;
	let failing_signatures: NaturalSignature[] = [];

	// Track number of consecutive primitives to suggest re-viewing the tutorial
	let consecutive_primitives = 0;
	const max_consecutive_primitives = 20;

	// Modal information
	let show_item_details = false;
	let show_item_details_item = [...world.name_to_item.values()][0];
	let show_recipes = false;
	let show_tutorial = false;
	let show_goal_complete = false;
	let show_goal_complete_promise: null|Promise<void> = null;
	let code_standards_error: (null|string) = null;
	let input_not_empty_error: (null|string) = null;
	let assign_post_condition_query: (null|{
		callback:(confirm: boolean)=>void,
		item: Item,
		query: string
	}) = null;
	let show_signatures = false;
	let show_signatures_data: NaturalSignature[] = [];
	let add_signature_to_workspace: (null|((np: NaturalSignature)=>void)) = null;

	function get_session_milliseconds(): number {
		return session_timer.getTotalTimeValues().secondTenths*100;
	}

	function update_show_tutorial(show: boolean) {
		show_tutorial = show;
		if (show) {
			show_tutorial_stopwatch.start();
			write_event({
				kind: "tutorial_open",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
		} else {
			show_tutorial_stopwatch.pause();
			write_event({
				kind: "tutorial_close",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
		}
	}

	function update_show_recipes(show: boolean) {
		show_recipes = show;
		if (show) {
			write_event({
				kind: "recipes_open",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
			show_recipes_stopwatch.start();
		} else {
			write_event({
				kind: "recipes_close",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
			show_recipes_stopwatch.pause();
		}
	}

	function update_show_library(show: boolean) {
		show_signatures = show;
		if (show) {
			write_event({
				kind: "library_close",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
			show_library_stopwatch.start();
		} else {
			write_event({
				kind: "library_open",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
			show_library_stopwatch.pause();
		}
	}

	// How much time to pause during interactive execution
	const pause_ms = 200;

	// Right column options
	const state_option = "state";
	const items_option = "items";
	const inventory_option = "inventory";
	const snapshot_option = "snapshot";
	const create_default_snapshot_option = "default snapshot creation";
	const replay_option = "replay";
	const automatic_session_option = "automatic session";
	let options = [
		state_option,
		items_option,
		inventory_option,
		snapshot_option,
		create_default_snapshot_option,
		replay_option,
		automatic_session_option,
	];
	let selected = options[0];

	// Primitive executor
	function execute_primitive(p: string, state: ProgramState): ProgramState {
		return concrete_interpreter(
			p,
			state,
			api,
			world
		);
	}

	// Track which goals have been met
	const sat_items_names = new Set<string>(starting_sat_items_names);
	let remaining_goal: (null|Item[]) = (goal === null) ? null : [];
	if (remaining_goal !== null && goal !== null)
		for (const item of goal)
			if (!(sat_items_names.has(item.name)))
				remaining_goal.push(item);

	/**
	 * Update remaining goal with the given state.
	 */
	function update_remaining_goal(state: ProgramState) {
		if (remaining_goal === null)
			return;
		const new_remaining_goal: Goal = [];
		for (const item of remaining_goal) {
			const owned_n = state.inventory.filter(i=>i.name===item.name).length;
			const goal_n = remaining_goal.filter(i=>i.name===item.name).length;
			const is_sat = owned_n >= goal_n;
			if (is_sat)
				sat_items_names.add(item.name);
			else
				new_remaining_goal.push(item);
		}
		if (JSON.stringify(new_remaining_goal) !== JSON.stringify(remaining_goal))
			remaining_goal = new_remaining_goal;
	}

	/**
	 * Helper function to store chain nodes.
	 */
	async function store_chain_node(
			chain_node: ChainNode,
			sat_items_names: Set<string>,
			): Promise<void> {
		const chain = await get_chain(chain_node.chain_id);
		const min_items = chain.minimum_sat_items_to_store_node;

		// Only store chain node if user built minimum number of items
		try {
			if (sat_items_names.size < min_items)
				throw `Only ${sat_items_names.size} sat_items but ${min_items} are required!`;
			await write_event({
				kind: "task_completed",
				session_id: session_id,
				session_milliseconds: get_session_milliseconds(),
			});
			await write_chain_node(chain_node);
		} catch (err) {
			console.log(err);
			const rejected_node = {
				...chain_node,
				rejection_cause: (typeof err === "string") ?
					err :
					JSON.stringify(err),
			};
			await write_rejected_chain_node(rejected_node);
		}
	}

	/**
	 * Marks and submits the task as completed.
	 */
	function complete_task() {
		// Clear all intervals
		for (const interval_id of intervals)
			clearInterval(interval_id);

		// Show goal complete dialogue
		show_goal_complete = true;
		show_goal_complete_promise = save_snapshot()
			.then(()=>{if (chain_node !== null) return store_chain_node(chain_node, sat_items_names)})
			.then(()=>{if (replay_id !== null) return write_replay(replay_id, replay_events)})
			.then(()=>{dispatch('task_completed');});
	}

	/**
	 * Updates the program state. This operation is persistent (e.g.
	 * updates the initial state for the solver).
	 */
	function update_ui_state(new_state: ProgramState) {
		// Cap inventory
		const new_inventory: Item[] = [];
		const max_copies_n = 20;
		for (const item of new_state.inventory) {
			const copies_n = new_inventory.filter(i=>i.name===item.name).length;
			if (copies_n < max_copies_n)
				new_inventory.push(item);
		}

		state = {
			inventory: new_inventory,
			crafting_table: new_state.crafting_table,
			held_item: new_state.held_item,
		};

		update_remaining_goal(state);

		console.log({remaining_goal: remaining_goal});
		if (remaining_goal !== null && remaining_goal.length === 0)
			complete_task();
	}

	/**
	 * Executes a `clear` primitive in the current state, and updates the
	 * state.
	 */
	function clear_state() {
		update_ui_state(execute(MinecraftSimplePrimitive.Clear, state, world));
	}

	/**
	 * Returns the initial program state for executing natural programs.
	 */
	function get_initial_state(): ProgramState {
		return state;
	}

	/**
	 * Activates the modal pop-up with the item information.
	 */
	function show_item_details_(item: Item) {
		show_item_details = true;
		show_item_details_item = item;
	}

	async function write_successful_execution(
		outcome: Outcome<ProgramState>|Outcome<ProgramState>&{source_solver:SourceSolver}
		) {
		// Write successful execution to database
		const new_snap_id = await get_new_snapshot_id();

		// No race conditions because the snapshot is sent as a serialized string,
		// no need to wait for the database to synchronize at every execution
		write_snapshot_json(new_snap_id, snapshot_as_json(get_session_snapshot()))
		let event: SuccessfulExecution = {
			kind: "successful_execution",
			session_milliseconds: get_session_milliseconds(),
			session_id: session_id,
			np: JSON.stringify(outcome.sketch),
			concrete_np: JSON.stringify(outcome.program),
			dequeue_n: outcome.dequeue_n,
			milliseconds: outcome.milliseconds,
			execution_snapshot_id: new_snap_id,
		};
		console.log(outcome);
		if ("source_solver" in outcome) {
			const source_solver = outcome.source_solver;
			event = { ...event, source_solver: source_solver };
		}
		write_event(event);
	}

	/**
	 * Called when a top-level program is finished executing in the IDE.
	 */
	async function success_execution_callback(
	    block: Blockly.Block,
			outcome: Outcome<ProgramState>|Outcome<ProgramState>&{source_solver:SourceSolver},
			) {
		await write_successful_execution(outcome);

		// If sketch is signature, then remove from failing signatures
		if (typeof outcome.sketch !== "string" &&
		     (!("steps" in outcome.sketch))) {
			failing_signatures = failing_signatures
				.filter(s=>JSON.stringify(s) !== JSON.stringify(outcome.sketch));
		}

		if (typeof outcome.sketch === "string")
			consecutive_primitives++;
		else
			consecutive_primitives = 0;

		// Automatically add the program to the library if the sketch had a constraint
		// or was a primitive
		if (typeof outcome.sketch === "string" ||
		    (("steps" in outcome.sketch && outcome.sketch.signature.post_condition !== undefined)
		    || (!("steps" in outcome.sketch) && outcome.sketch.post_condition !== undefined))) {
			try {
				await save_successful_execution(outcome, block, library, false);
				// Update only if state changed
				if (typeof outcome.sketch !== "string"
				    || outcome.sketch === naturalize_simple_primitive(MinecraftSimplePrimitive.Craft))
					await update_failing_signatures();
			} catch (err) {
				console.error({error: "SAVE FAILED", cause: err});
			}
		}
	}

	/**
	 * Called when a top-level program fails to execute in IDE.
	 */
	async function fail_execution_callback(np: NaturalProgramSketch, error: string, milliseconds: number) {
		console.log({
			event: "FAILED EXECUTION",
			np: np,
			error: error,
		});

		// If sketch is signature add to failing signatures
		if (typeof np !== "string" && !("steps" in np)) {
			const previously_added = failing_signatures
				.filter(s=>JSON.stringify(s) === JSON.stringify(np))
				.length > 0;
			if (!previously_added)
				failing_signatures.push(np);
		}

		const new_snap_id = await get_new_snapshot_id();
		// No race conditions because the snapshot is sent as a serialized string,
		// no need to wait for the database to synchronize.
		write_snapshot_json(new_snap_id, snapshot_as_json(get_session_snapshot()))
		write_event({
			kind: "failed_execution",
			session_milliseconds: get_session_milliseconds(),
			session_id: session_id,
			np: JSON.stringify(np),
			execution_snapshot_id: new_snap_id,
			error: error,
			milliseconds: milliseconds,
		});
	}

	/**
	 * Returns the session snapshot as a JSON string.
	 */
	function get_session_snapshot(): SessionSnapshot {
		return {
			item_csv: item_csv,
			mine_csv: mine_csv,
			session_type: session_type,
			inventory: state.inventory,
			beam_search_parameters: beam_search_parameters,
			propose_parameters: propose_parameters,
			beam_parameters: beam_parameters,
			library: library,
			seed: seed,
			goal: goal,
			sat_items_names: [...sat_items_names],
			total_ms: get_session_milliseconds(),
			solver_ms: solver_stopwatch.getTotalTimeValues().secondTenths*100,
			max_queue_size: max_queue_size,
			show_recipes_ms: show_recipes_stopwatch.getTotalTimeValues().secondTenths*100,
			show_tutorial_ms: show_tutorial_stopwatch.getTotalTimeValues().secondTenths*100,
			show_signature_execution_error_ms: show_signature_execution_error_stopwatch.getTotalTimeValues().secondTenths*100,
			show_library_ms: show_library_stopwatch.getTotalTimeValues().secondTenths*100,
		};
	}

	/**
	 * Verify the program can be run.
	 */
	function is_runnable(np: NaturalProgramSketch, state: ProgramState): boolean {
		const standards_error = get_code_standards_error(np);
		if (standards_error !== null) {
			code_standards_error = standards_error;
			return false;
		}
		if (typeof np !== "string" && state.crafting_table.length > 0) {
			input_not_empty_error = "This block can only be used if the Input slot is empty!";
			return false;
		}
		return true;
	}

	// Periodic snapshot saving
	const intervals: any[] = [];
	const snapshot_save_period = 120*1000;
	let last_saved_snapshot_json = "NOT SAVED YET";
	function save_snapshot() {
		const snap = get_session_snapshot();
		console.log({session_snapshot: snap});
		last_saved_snapshot_json = JSON.stringify(snap, undefined, 2);
		return write_snapshot_json(snapshot_id, snapshot_as_json(snap));
	}
	intervals.push(setInterval(save_snapshot, snapshot_save_period));

	// Track inactivity and record pings
	const browserInteractionTime = new BrowserInteractionTime({
		timeIntervalEllapsedCallbacks: [],
		absoluteTimeEllapsedCallbacks: [],
		browserTabInactiveCallbacks: [],
		browserTabActiveCallbacks: [],
		idleTimeoutMs: 10000,
		checkCallbacksIntervalMs: 250
	});
	browserInteractionTime.startTimer();

	/**
	  * Get the automatic post condition and ask the user if it should be
	  * assigned.
	  */
	async function get_automatic_postcondition(query: string): Promise<string|null> {
		const maybe_post_condition = await get_closest_post_condition(query, library);
		const closest_item = await get_closest_item(query, world);
		const post_condition = (maybe_post_condition === null || maybe_post_condition[1] < closest_item[1]) ?
			get_constraint_as_string({inventory: [closest_item[0]]}) :
			maybe_post_condition[0];
		const items = get_constraint_from_string(post_condition, world).inventory;
		if (items.length === 0)
			return null;
		const item = items[0];
		return new Promise<string|null>((resolve, _) => {
			async function callback(confirm: boolean) {
				if (post_condition !== null)
					await write_automatic_post_condition_answer(
						query,
						post_condition,
						confirm,
						session_id,
					);
				assign_post_condition_query = null;
				if (confirm)
					resolve(post_condition);
				resolve(null);
			}
			assign_post_condition_query = {query: query, item: item, callback: callback};
		});
	}

	let preloaded_images = [];
	async function init() {
		// Preload images
		// https://stackoverflow.com/a/60280239
		const preloadImage = (src: string) =>
			new Promise((resolve, _) => {
				const image = new Image();
				image.onload = ()=>resolve(image);
				image.onerror = ()=>resolve(image);
				image.src = src;
			})
		const images = [...world.name_to_item.values()].map(i=>i.icon_src);
		images.push(base+"/img/craft.png");
		preloaded_images.push(...(await Promise.all(images.map(x => preloadImage(x)))));

		// Initialize session
		const start_snapshot_id = await get_new_snapshot_id();
		await write_snapshot(start_snapshot_id, get_session_snapshot());
		await write_session(
			session_id,
			{
				user_id: user_id,
				start_snapshot_id: start_snapshot_id,
				active_snapshot_id: snapshot_id,
				replay_id: replay_id,
			}
		);

		// Initialize session timer
		session_timer.start();
		intervals.push(setInterval(() => {
			if (session_timeout_ms !== null) {
				const remaining_ms = get_remaining_ms(
					session_timeout_ms,
					session_timer,
					show_tutorial_stopwatch,
					show_signature_execution_error_stopwatch,
				);
				if (remaining_ms < 0)
					complete_task();
			}
		}, 1000));
	}

	/**
	 * Setup IDE buttons.
	 **/
	const button_callbacks: [string, (b: any)=>void][] = [
		[show_signatures_button_callback, (b: Blockly.FlyoutButton)=>{
			// Show the signatures in the library
			show_signatures_data = [];
			for (const np of values(library))
				if (typeof np !== "string" && np.post_condition === undefined)
					show_signatures_data.push(np);
			update_show_library(true);
			add_signature_to_workspace = (np: NaturalSignature) => {
				const workspace = b.getTargetWorkspace();
				const info = simple_signature_as_block_info(np);
				const block = workspace.newBlock(BlockType.SimpleSignature);
				for (const [field, value] of Object.entries(info.fields)) {
					block.setFieldValue(value, field);

					// Make the blocks un-editable
					const block_field = block.getField(field);
					if (block_field !== null)
						block_field.setEnabled(false);
				}
				block.initSvg();
				block.moveBy(
					workspace.getMetrics().viewLeft/workspace.scale,
					workspace.getMetrics().viewTop/workspace.scale,
				);
				workspace.render();
				block.bumpNeighbours();
				update_show_library(false);
			}
		}],
	];

	// Toolbox buttons
	const buttons = [];
	buttons.push({text: "Recipes", callback_key: "show_recipes"});
	buttons.push({text: "Clear", callback_key: "clear"});
	buttons.unshift({text: "Tutorial", callback_key: "tutorial"});
	button_callbacks.push(["show_recipes", ()=>{update_show_recipes(true);}]);
	button_callbacks.push(["clear", ()=>{clear_state()}]);
	button_callbacks.push(["tutorial", ()=>{update_show_tutorial(true)}]);

	/**
	 * Setup IDE toolbox.
	 **/
	const get_toolbox = (session_type === SessionType.DirectProgramming) ?
		(buttons: BlocklyButtons)=>get_direct_programming_toolbox(
			world,
			show_signatures_button_callback,
			buttons
		) :
		(buttons: BlocklyButtons)=>get_natural_toolbox(world, buttons);
	// IDE
	const [
		toolbox,
		toolbox_callbacks,
		illustration_primitive_map,
		illustration_post_condition_map,
		signature_dropdown_options,
		primitive_dropdown_options,
		function_definition_dropdown_options,
	] = get_toolbox(buttons);

	/**
	 * Bind library to app sketch solver for the IDE.
	 */
	function ide_solver(
			np: NaturalProgramSketch,
			state: ProgramState,
		): Promise<SourcedSolverResult<ProgramState>> {
		// Call solver
		return solver(
			np,
			state,
			library,
			execution_modal_solving_message,
			true,
			null,
			get_fringe_seed(np, library.added_sketches),
		);
	}

	/**
	 * Bind library to save function for the IDE.
	 */
	async function ide_save_successful_execution(
			outcome: Outcome<ProgramState>,
			block: Blockly.BlockSvg,
			): Promise<void> {
		await save_successful_execution(
			outcome,
			block,
			library,
			true,
		);
	}

	/**
	 * Update the list of failing signatures.
	 */
	async function update_failing_signatures(): Promise<void> {
		// If there are no failing signatures there is nothing to do
		if (failing_signatures.length === 0) return;

		// Trim the list of failing signatures
		const selected_failing_signatures = failing_signatures.slice(-max_failing_signatures);

		// Try to solve selected failing signatures
		const new_failing_signatures = [];
		const new_successful_signatures_ = [];
		const quick_solve_ms = Math.min(
			failing_signatures_max_ms/failing_signatures.length,
			per_failing_signature_max_ms,
		);
		for (const failing_signature of selected_failing_signatures) {
			try {
				await solver(
					failing_signature,
					state,
					library,
					post_save_failing_signatures_test_message,
					false,
					quick_solve_ms,
					get_fringe_seed(failing_signature, library.added_sketches)
				);

				// Solver was successful. Add to newly successful signatures
				new_successful_signatures_.push(failing_signature);
			} catch (err) {
				// Solver was unsuccessful. Mark as failing.
				console.log({
					event: "Could not quick-solve failing signature",
					signature: failing_signature,
					force_timeout_ms: quick_solve_ms,
					error: err,
				});
				new_failing_signatures.push(failing_signature);
			}
		}

		// Update failing signatures
		failing_signatures = new_failing_signatures;

		// Display modal
		if (new_successful_signatures_.length > 0)
			new_successful_signatures = new_successful_signatures_;
	}

	// Setup screen-recording only if there is a timeout (otherwise recording
	// becomes a potential memory leak).
	const stop_recording = record({
		emit(event) {
			if (session_timeout_ms !== null)
				replay_events.push(event);
		},
	});

	/**
	 * Bind library to app sketch solver for the automatic debugger.
	 */
	async function debugger_solver(
			np: NaturalProgramSketch,
			state: ProgramState,
			): Promise<SourcedSolverResult<ProgramState>> {
		// Call solver
		const result = await solver(
			np,
			state,
			library,
			execution_modal_solving_message,
			false,
			null,
			get_fringe_seed(np, library.added_sketches),
		);
		const outcome = {...result, sketch: np};
		await write_successful_execution(outcome);
		await save_successful_execution(outcome, null, library, false);
		update_ui_state(result.final_state);
		return result;
	}

	// Initialize page
	const promise = init();
	onDestroy(() => {
		for (const interval_id of intervals)
			clearInterval(interval_id);
		if (stop_recording !== undefined)
			stop_recording();
	});
</script>

{#await promise}
	<p>Initializing session in database...</p>
{:then}
	<div class="column-container">
		<div class="column">
			<IDE
				get_initial_state={get_initial_state}
				solver={ide_solver}
				execution_pause_ms={pause_ms}
				update_ui_state={update_ui_state}
				toolbox={toolbox}
				toolbox_callbacks={toolbox_callbacks}
				button_callbacks={button_callbacks}
				illustration_primitive_map={illustration_primitive_map}
				illustration_post_condition_map={illustration_post_condition_map}
				save_successful_execution={ide_save_successful_execution}
				success_execution_callback={success_execution_callback}
				fail_execution_callback={fail_execution_callback}
				signature_dropdown_options={signature_dropdown_options}
				primitive_dropdown_options={primitive_dropdown_options}
				function_definition_dropdown_options={function_definition_dropdown_options}
				is_runnable={is_runnable}
				get_automatic_postcondition={get_automatic_postcondition}
				execute_primitive={execute_primitive}
				session_id={session_id}
				get_session_milliseconds={get_session_milliseconds}
			/>
		</div>
		<div class="left column">
			<div class="row-container">
				{#if show_debug_menu}
					<select bind:value={selected}>
						{#each options as option}
							<option value={option}>{option}</option>
						{/each}
					</select>
				{/if}
				<div class="row-container">
					{#if selected === state_option}
						{#if remaining_goal !== null}
							{#key remaining_goal}
								<GoalComponent
									goal={remaining_goal}
									sat_item_n={sat_items_names.size}
									sat_item_bonus_usd={sat_item_bonus_usd}
								/>
							{/key}
						{/if}
						{#if session_timeout_ms !== null}
							<TimerComponent
								session_timer={session_timer}
								session_timeout_ms={session_timeout_ms}
								tutorial_timer={show_tutorial_stopwatch}
								show_signature_execution_error_stopwatch={show_signature_execution_error_stopwatch}
							/>
						{/if}
						<CraftingState
							on:click="{e=>show_item_details_(e.detail.item)}"
							crafting_table={state.crafting_table}
							inventory={state.inventory}
							craftable_item={get_craftable_item(state.crafting_table, world)}
							clickable={false}
						/>
					{:else if selected === items_option}
						<div class="row-container">
							<p>These are all the items in scope:</p>
							<div class="row-container">
								{#each [...world.name_to_item.values()] as item}
									<ItemCard
										item={item}
										on:click="{e=>show_item_details_(e.detail.item)}"
									/>
								{/each}
							</div>
						</div>
					{:else if selected === inventory_option}
						<pre>{JSON.stringify(state.inventory.map(i=>i.name), null, 2)}</pre>
					{:else if selected === snapshot_option}
						Use the following link to start a session with the current snapshot:
						<pre>{snapshot_url}</pre>
						Your latest snapshot is:
						{#key last_saved_snapshot_json}
							<pre>{last_saved_snapshot_json}</pre>
						{/key}
					{:else if selected === create_default_snapshot_option}
						<DefaultSnapshotCreation
							get_snapshot={get_session_snapshot}
						/>
					{:else if selected === automatic_session_option}
						<AutomaticSession
							solver={debugger_solver}
							initial_state={state}
							crafting_world={world}
							timeout_ms={session_timeout_ms}
						/>
					{:else}
						<p>Unrecognized option: {selected}</p>
					{/if}
				</div>
			</div>
		</div>
	</div>

	{#if show_item_details}
		<Modal on:close="{() => show_item_details=false}">
			{#key show_item_details_item}
				<ItemDetails
					item={show_item_details_item}
					world={world}
					on:click="{e=>show_item_details_(e.detail.item)}"
				/>
			{/key}
		</Modal>
	{/if}

	{#if show_recipes}
		<Modal on:close="{() => update_show_recipes(false)}">
			<div class="row-container">
				{#each [...world.name_to_item.values()] as item}
					{#if "recipe" in item}
						<div>
							<CraftingRecipe item={item} clickable={false} world={world} />
						</div>
					{/if}
				{/each}
			</div>
		</Modal>
	{/if}

	{#if show_tutorial}
		<Modal on:close="{() => update_show_tutorial(false)}">
			<div class="row-container">
			<h1 class="title">Tutorial</h1>
			<h2 class="subtitle">The timer is paused. Please watch the tutorial as much as you want :)</h2>
			<VideoSlideshow videos={tutorial_video_urls}/>
			</div>
		</Modal>
	{/if}

	{#if show_goal_complete && show_goal_complete_promise !== null}
		<Modal show_close_button={false}>
			{#await show_goal_complete_promise}
				<p>Saving completion... This may take a few minutes on slow connections.</p>
			{:then}
				<h1>Congratulations!</h1>
				<p>You finished the task!</p>
			{:catch error}
				<h1>Error</h1>
				<p>Task completion could not be saved. Please contact administrators.</p>
				<p>session_id: {session_id}</p>
				<p>Something went wrong: {error}</p>
			{/await}
		</Modal>
	{/if}
{:catch error}
	<p>Something went wrong: {error}</p>
	<p>Try reloading the page?</p>
{/await}

{#if code_standards_error !== null}
	<Modal on:close="{() => {code_standards_error = null;}}">
		<h1 class="title">Whoops!</h1>
		<p>{code_standards_error}</p>
	</Modal>
{/if}

{#if input_not_empty_error !== null}
	<Modal on:close="{() => {input_not_empty_error = null;}}">
		<h1 class="title">Whoops!</h1>
		<div class="container">
			<p>{input_not_empty_error}</p>
		</div>
		<div class="container">
			<button
				on:click={()=>{input_not_empty_error=null;}}
				class="button"
			>
				Ok
			</button>
			<button
				on:click={()=>{clear_state(); input_not_empty_error=null;}}
				class="button is-primary"
			>
				Clear input
			</button>
		</div>
	</Modal>
{/if}

{#if assign_post_condition_query !== null}
	<Modal on:close="{() => {assign_post_condition_query = null;}}">
		<h1 class="title">Is this what you want?</h1>
		<div class="content">
			You said '{assign_post_condition_query.query}'.
		</div>
		<div class="container">
			<ItemCard item={assign_post_condition_query.item} clickable={false} />
		</div>
		<div class="container">
			<button
				on:click={()=>{if (assign_post_condition_query!== null) assign_post_condition_query.callback(false);}}
				class="button"
			>
				No, I will assign a task manually
			</button>
			<button
				on:click={()=>{if (assign_post_condition_query!== null) assign_post_condition_query.callback(true);}}
				class="button is-primary"
			>
				Yes
			</button>
		</div>
	</Modal>
{/if}

{#if new_successful_signatures !== null}
	<Modal on:close="{() => new_successful_signatures=null}">
		<h1 class="title">Good news!</h1>
		<div class="content">
			<p>It looks like the following blocks can now be executed!</p>
		</div>
		<Signatures
			items={new_successful_signatures}
			add_signature={null}
		/>
	</Modal>
{/if}

{#if consecutive_primitives > max_consecutive_primitives}
	<Modal on:close="{() => consecutive_primitives=0}">
		<h1 class="title">Need help?</h1>
		<div class="content">
			<p>You've executed at least {consecutive_primitives} consecutive primitive blocks! You can use the teaching blocks to group useful sequences of instructions.</p>
			<p>Review the tutorial to learn more :)</p>
		</div>
	</Modal>
{/if}

{#if show_signatures && add_signature_to_workspace !== null}
	<Modal on:close="{() => update_show_library(false)}">
		<Signatures
			items={show_signatures_data}
			add_signature={add_signature_to_workspace}/>
	</Modal>
{/if}

<style>
	.row-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		overflow: auto;
	}

	.column-container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
	}

	.left {
		max-width: 30%;
	}

	@media only screen and (orientation: portrait) {
		.column-container {
			flex-direction: column;
			height: 100vh;
		}
		.left {
			max-width: 100%;
			flex-basis: auto !important;
			flex-grow: 0 !important;
			height: unset !important;
		}
	}

	.column {
		flex: 1 1 0;
		height: 100vh;
		display: flex;
	}

	pre {
		user-select: all;
		overflow: auto;
	}
</style>
