<script lang="ts">
	import { createEventDispatcher, onDestroy } from 'svelte';

	export let close_message = "Close";
	export let show_close_button = true;

	const dispatch = createEventDispatcher();
	const close = () => dispatch('close');

	// Avoid closing immediately when using touch-screens
	const start = Date.now();
	const min_time = 500;

	let modal: HTMLElement;

	const handle_keydown = (e: KeyboardEvent) => {
		if (e.key === 'Escape') {
			close();
			return;
		}

		if (e.key === 'Tab') {
			// trap focus
			const nodes = modal.querySelectorAll('*');
			// @ts-ignore
			const tabbable = Array.from(nodes).filter(n => n.tabIndex >= 0);

			let index = (document.activeElement === null) ?
				0 : tabbable.indexOf(document.activeElement);
			if (index === -1 && e.shiftKey) index = 0;

			index += tabbable.length + (e.shiftKey ? -1 : 1);
			index %= tabbable.length;

			// @ts-ignore
			tabbable[index].focus();
			e.preventDefault();
		}
	};

	const previously_focused = typeof document !== 'undefined' && document.activeElement;

	if (previously_focused) {
		onDestroy(() => {
			// @ts-ignore
			previously_focused.focus();
		});
	}
</script>

<svelte:window on:keydown={handle_keydown}/>

<div class="is-active modal" bind:this={modal}>
	<!-- svelte-ignore a11y-autofocus -->
	<div class="modal-background" on:click={()=>{if (Date.now() > start+min_time) close()}}></div>
	<div class="modal-content">
		<div class="box">
			<slot name="header"></slot>
			<div class="container">
				<slot></slot>
			</div>
		</div>
	</div>

	{#if show_close_button}
		<!-- svelte-ignore a11y-autofocus -->
		<button class="modal-close" autofocus on:click={close}>{close_message}</button>
	{/if}
</div>

<style>
</style>
