<script lang="ts">
	import { get_question } from "./survey";
	import vegaEmbed from "vega-embed";
	import type { TopLevelSpec } from "vega-lite";
	import { get_snapshot_url } from "./minecraft_app";
	import { get_event_plot, type ChainData } from "./chain_plots";
	import Modal from "./Modal.svelte";
	import rrwebPlayer from 'rrweb-player';
	import 'rrweb-player/dist/style.css';
	import { get_replay, get_session_events } from "./firebase";
	import type { Event } from "$lib/events";
	import { base } from '$app/paths';

	export let chain_data: ChainData[];

	let active_data = chain_data[0];
	let single_chain_display_mode = "vega_specifications";
	let replay_id: null|string = null;
	let event_data_promise: null|Promise<Event[]> = null;

	function embed(node: HTMLElement, vega_specification: TopLevelSpec) {
		const spec: TopLevelSpec = {
			...vega_specification,
			height: 400,
			width: 400,
			autosize: {
				type: "fit",
				contains: "padding"
			},
		};
		const div_id = node.id;
		vegaEmbed('#'+div_id, spec)
			.then(()=>{
				window.dispatchEvent(new Event('resize'));
			});
	}

	function display_replay(node: HTMLElement, replay_id: string) {
		async function f() {
			const replay_events = await get_replay(replay_id);
			new rrwebPlayer({
				target: node,
				props: {
					events: replay_events,
					width: node.offsetWidth,
				},
			});
		}
		f();
		return {
			destroy() {
			}
		}
	}

	function display_event_plot(node: HTMLElement, events: Event[]) {
		const event_plot = get_event_plot(events);
		embed(node, event_plot);
	}
</script>

<div id="section">
	<div id="container">
		<label class="label" for="mode">Chain:</label>
		<div class="select">
			<select id="mode" bind:value={active_data}>
				{#each chain_data as datum}
					<option value={datum}>
						{datum.chain_id}
					</option>
				{/each}
			</select>
		</div>
	</div>

	<div class="container">
		{#key active_data}
			{#if active_data !== null}

				<div class="container">
					{#each Object.keys(active_data).filter(k=>k!=="chain_id") as mode}
						<label class="label"><input class="control" type=radio bind:group={single_chain_display_mode} value={mode}>{mode}</label>
					{/each}
				</div>

				{#if single_chain_display_mode === "nodes"}
					<div class="notification">
						<p>Note: start snapshot is a copy of previous active snapshot, so IDs will be different.</p>
					</div>
					{#each active_data.nodes as node, i}
						<div class="content">
							<p><b>Node {i}:</b></p>
							<div class="content">
								<p>Node ID: {node.node_id}</p>
							</div>
							<div class="content">
								<pre>{JSON.stringify(node.session, null, 2)}</pre>
							</div>
							<div class="container">
								Create new copies of snapshots in this session:
								<div class="content">
									<ul>
									<li>
										Start snapshot:
										<a href={get_snapshot_url(node.session.start_snapshot_id, base).toString()}>
											{get_snapshot_url(node.session.start_snapshot_id, base).toString()}
										</a>
									</li>
									<li>
										Active snapshot:
										<a href={get_snapshot_url(node.session.active_snapshot_id, base).toString()}>
											{get_snapshot_url(node.session.active_snapshot_id, base).toString()}
										</a>
									</li>
									</ul>
								</div>
							</div>
							{#if node.session.replay_id === null}
								<div class="field">
									<button 
										class="button"
										disabled={true}
										>
										Replay not available
									</button>
								</div>
							{:else}
								<div class="field">
									<button 
										class="button"
										on:click={()=>{replay_id=node.session.replay_id}}
										>
										View replay
									</button>
								</div>
							{/if}
							<div class="field">
								<button 
									class="button"
									on:click={()=>{event_data_promise = get_session_events(node.session_id)}}
									>
									View Gantt chart
								</button>
							</div>
						</div>
					{/each}
				{:else if single_chain_display_mode === "vega_specifications"}
					{#each active_data.vega_specifications as vega_specification, i}
						<div class="vega">
							<div
								class="inner-vega"
								id={"vega_lite"+i}
								use:embed={vega_specification}
								></div>
						</div>
					{/each}
				{:else if single_chain_display_mode === "nps"}
					<div class="container">
						{#each active_data.nps as node_nps, i}
							<h2 class="subtitle">Node {i} submissions</h2>
							<div class="np">
								<pre>{JSON.stringify(node_nps, null, 2)}</pre>
							</div>
						{/each}
					</div>
				{:else if single_chain_display_mode === "histogram"}
					<div class="vega">
						{#each active_data.histogram as [word, count]}
							<p>{word}: {count}</p>
						{/each}
					</div>
				{:else if single_chain_display_mode === "survey_responses"}
						{#each active_data.survey_responses as response, i}
							<div class="content">
								<p><b>Node {i} response</b></p>
								{#if response === null}
									<p>Looks like there is no survey response for this node in the database.</p>
								{:else}
									{#each Object.entries(response) as [key, answer]}
										<div>
											<p><b>Q: {get_question(key)}</b></p>
											<p>A: <q>{answer}<q>.</p>
										</div>
									{/each}
								{/if}
							</div>
						{/each}
				{:else if single_chain_display_mode === "user_id_sat_items_n"}
					<ol>
					{#each active_data.user_id_sat_items_n as [user_id, sat_items_n]}
						<li>{user_id}: {sat_items_n}</li>
					{/each}
					</ol>
				{:else}
					<p>Display mode '{single_chain_display_mode}' cannot be visualized!</p>
				{/if}
			{/if}
		{/key}
	</div>

</div>


{#if replay_id !== null}
	<Modal on:close={()=>{replay_id=null;}}>
		<div use:display_replay={replay_id}></div>
	</Modal>
{/if}

{#if event_data_promise !== null}
	<Modal on:close={()=>{event_data_promise=null;}}>
		{#await event_data_promise}
			<b>Reading database...</b>
		{:then event_data}
			<div id={"event_plot"} use:display_event_plot={event_data}></div>
		{/await}
	</Modal>
{/if}

<style>
	#container {
		height: 500px;
		width: 90vw;
	}
	.inner-vega {
		width: 500px;
		height: 500px;
	}
	.vega {
		height: 500px;
		width: 500px;
	}
	.np {
		max-height: 50vh;
		overflow: scroll;
	}
</style>
