<script lang="ts">
	import { get_remaining_ms } from "./minecraft_app";
	import Timer from "easytimer.js";
	import { onDestroy } from 'svelte';

	export let session_timeout_ms: number;
	export let session_timer: Timer;
	export let tutorial_timer: Timer;
	export let show_signature_execution_error_stopwatch: Timer;

	let time_left = "";
	const interval = setInterval(() => {
		if (session_timeout_ms !== null) {
			// Compute remaining time
			const remaining_ms = get_remaining_ms(
				session_timeout_ms,
				session_timer,
				tutorial_timer,
				show_signature_execution_error_stopwatch,
			);

			// Build timer to pretty print remaining time
			const aggregate_timer = new Timer({
				startValues: {
					seconds: remaining_ms/1000
				}
			});
			const s_remaining = aggregate_timer.getTimeValues().seconds;
			const m_remaining = aggregate_timer.getTimeValues().minutes;
			time_left = m_remaining + "m " + s_remaining + "s";
		}
	}, 1000);

	onDestroy(() => clearInterval(interval));
</script>

<div>
	<p>Time left: {time_left}</p>
</div>

<style>
	div {
		margin: auto;
		width: 100%;
	}
	p {
		text-align: center;
	}
</style>
