<script lang="ts">
	import CSVForm from "./CSVForm.svelte";
	import { createEventDispatcher } from 'svelte';
	import type { SessionSnapshot } from "./session_snapshot";
	import { get_default_snapshot, get_new_snapshot_id } from "./firebase";
	import { base } from "$app/paths";
	const dispatch = createEventDispatcher();

	const icon_directory = base+"/img/icons/";
	const tutorial_button_ui = base+"/tutorials/tutorial_button_ui.png";

	export let tutorial_default_snapshot_id: string;
	export let user_id: string;
	export let session_id: string;

	let tutorial_begun = false;
	let explanation_begun = false;

	type InitPromise = {
		snapshot: SessionSnapshot,
		snapshot_id: string,
		snapshot_url: string,
		session_id: string,
	};

	async function new_snapshot() {
		const new_snapshot_id = await get_new_snapshot_id();
		const snapshot_url = new URL(window.location.href);
		snapshot_url.searchParams.set("start_snapshot_id", new_snapshot_id);
		return [new_snapshot_id, snapshot_url.toString()];
	}

	async function init(): Promise<InitPromise> {
		const snapshot = await get_default_snapshot(
			tutorial_default_snapshot_id,
			icon_directory
		);
		const [snapshot_id, snapshot_url] = await new_snapshot();
		return {
			snapshot: snapshot,
			snapshot_id: snapshot_id,
			snapshot_url: snapshot_url,
			session_id: session_id,
		};
	}

	const init_promise = init();
</script>

{#if !explanation_begun}
	<section class="section is-medium">
		<h2 class="title">Ready to begin your quest?!</h2>
		<h2 class="subtitle">Let's learn how to use the system</h2>
		<div class="field">
			<button class="button is-primary" on:click={()=>{explanation_begun=true;}}>Begin tutorial</button>
		</div>
	</section>
{/if}

{#if explanation_begun && !tutorial_begun}
	<section class="section is-medium">
		<div class="content">
			<p><b>Your goal in this tutorial is to build items labeled with "Goal"</b>. If you ever feel lost, click on the Tutorial button to review help videos.</p>
		</div>
		<div class="content">
			<img src={tutorial_button_ui} alt="Tutorial button"/>
			<p>Picture for illustration purposes, details may vary.</p>
		</div>
		<div class="field">
			<button class="button is-primary" on:click={()=>{tutorial_begun=true;}}>Start tutorial</button>
		</div>
	</section>
{/if}

{#if tutorial_begun}
	{#await init_promise}
		<div class="container">
			<h2 class="subtitle">
				Loading tutorial...
			</h2>
			<div class="content">
				<progress class="progress is-medium is-primary" max="100">1%</progress>
			</div>
		</div>
	{:then init_data}
		<CSVForm
			user_id={user_id}
			snapshot_id={init_data.snapshot_id}
			snapshot_url={init_data.snapshot_url}
			item_csv={init_data.snapshot.item_csv}
			mine_csv={init_data.snapshot.mine_csv}
			session_type={init_data.snapshot.session_type}
			library={init_data.snapshot.library}
			inventory={init_data.snapshot.inventory}
			beam_search_parameters={init_data.snapshot.beam_search_parameters}
			beam_parameters={init_data.snapshot.beam_parameters}
			propose_parameters={init_data.snapshot.propose_parameters}
			configure={false}
			session_id={init_data.session_id}
			seed={init_data.snapshot.seed}
			goal={init_data.snapshot.goal}
			chain_node={null}
			sat_item_bonus_usd={null}
			session_timeout_ms={null}
			starting_sat_items_names={init_data.snapshot.sat_items_names === null ? [] : init_data.snapshot.sat_items_names}
			max_queue_size={init_data.snapshot.max_queue_size}
			replay_id={null}
			on:task_completed={()=>{dispatch("tutorial_complete");}}
			/>
	{/await}
{/if}
