<script lang="ts">
</script>

<svelte:head>
	<title>404</title>
	<meta name="description" content="Natural Programming IDE" />
</svelte:head>

<section class="hero is-danger is-fullheight-with-navbar">
	<div class="hero-body">
		<div class="">
			<p class="title">
				404
			</p>
			<p class="subtitle">
				Something went wrong. Maybe this page does not exist... (yet?)
			</p>
		</div>
	</div>
</section>
