<script lang="ts">
	import { base } from '$app/paths';

	function ask_to_exit(e: MouseEvent) {
		const exit = confirm('Do you want to delete all unsaved progress and exit the experiment?');
		if (!exit)
			e.preventDefault();
	}
</script>
<main>
	<nav class="navbar">
		<div class="navbar-brand">
			<a class="navbar-item" href={base+"/"} on:click={ask_to_exit}>
				<img id="logo" src={base+"/logo.png"} alt="NP">
			</a>
		</div>
	</nav>
	<slot ></slot>
</main>


<style lang="scss" global>
	@import '../node_modules/bulma/bulma';

	#logo {
		height: 2em !important;
		width: 2em !important;
	}

	main {
		height: 100%;
		width: 100%;
	}
</style>
