<div class="container">
	<section class="section">
		<h1 class="title">Natural Programming</h1>
		<div class="content">
		We built this website to conduct experiments on the way people interact
		with computers using natural language. Our goal is to develop a programming
		paradigm that we have come to call <i>Natural Programming</i>.
		</div>
		<div class="box">
			<p><i>Natural programming</i> is a programming paradigm where programs are written primarily in natural language. In this paradigm programs are executed by replacing each natural language
		instruction with a sequence of more granular sub-instructions (which are also natural
		language) until every instruction can be grounded in a conventional programming
		language.</p>
		</div>

		<h1 class="title">Libraries</h1>
		This website was built with the following software:
		<div class="content">
			<ul>
				<li><a href="https://bulma.io">Bulma</a></li>
				<li><a href="https://kit.svelte.dev">SvelteKit</a></li>
				<li><a href="https://remixicon.com/">Remix Icon</a></li>
				<li><a href="https://www.freepik.com/flaticon">Flaticon</a></li>
				<li><a href="https://firebase.google.com">Firebase</a></li>
				<li><a href="https://developers.google.com/blockly">Blockly</a></li>
			</ul>
		</div>
	</section>
</div>
