<script lang="ts">
	import Benchmark from "$lib/Benchmark.svelte";
	import { get_chain_ids, get_fallback, sign_in_anonymously } from "$lib/firebase";
	import { get_chain_executions } from "$lib/firebase";
	import type { SuccessfulExecution } from "$lib/firebase";
	import type { FailedExecution } from "$lib/firebase";

	let chain_id = "";
	let solver_phase_timeout = 5000;

	async function init() {
		await sign_in_anonymously();
		np_parameters_json = JSON.stringify(
				await get_fallback("beam_search_parameters"), null, 2
			);
		np_beam_parameters_json = JSON.stringify(
				await get_fallback("np_beam_parameters"), null, 2
			);
		synthesis_parameters_json = JSON.stringify(
				await get_fallback("beam_search_direct_synthesis_parameters"), null, 2
			);
		synthesis_beam_parameters_json = JSON.stringify(
				await get_fallback("synthesis_beam_parameters"), null, 2
			);
		propose_parameters_json = JSON.stringify(
			await get_fallback("propose_parameters"), null, 2
		);
		max_queue_size = (await get_fallback("max_queue_size")) as number;
		const chain_ids = await get_chain_ids();
		if (chain_ids.length > 0)
			chain_id = chain_ids[0];
		return {
			chain_ids: chain_ids,
		};
	}
	const init_promise = init();
	let executions_promise: Promise<((SuccessfulExecution|FailedExecution)&{node_i: number})[]>;

	let np_parameters_json = "";
	let np_beam_parameters_json = "";
	let synthesis_parameters_json = "";
	let synthesis_beam_parameters_json = "";
	let propose_parameters_json = "";
	let max_queue_size = 50000;
</script>

<div class="container">
	<div class="section">
		<div class="content">
			<h1>Benchmark</h1>
			<p>This page executes the solver over submissions in the nodes of a chain.</p>
		</div>
	</div>
	<div class="section">
		<article class="message is-warning">
			<div class="message-header">
				<p>Lost?</p>
			</div>
			<div class="message-body">
				This page is used by the developers to debug and benchmark the system,
				but feel free to explore!
			</div>
		</article>
	</div>

	{#await init_promise}
		<div class="section">
			<p>Loading available chains...</p>
			<progress class="progress is-medium is-primary" max="100">1%</progress>
		</div>
	{:then init_data}
		<div class="section">
			<h2 class="subtitle">Chain selection</h2>
			<form on:submit|preventDefault={()=>{executions_promise=get_chain_executions(chain_id)}}>
				<div class="field">
					<label class="label" for="mode">Chain:</label>
					<div class="select">
						<select id="mode" bind:value={chain_id}>
							{#each init_data.chain_ids as chain_id}
								<option value={chain_id}>
									{chain_id}
								</option>
							{/each}
						</select>
					</div>
				</div>

				<div class="field">
					<label for="naturalp"><b>Natural programming</b> solver parameters:</label>
					<textarea class="textarea" spellcheck="false" id="naturalp" bind:value={np_parameters_json}></textarea>
				</div>

				<div class="field">
					<label for="naturalbp"><b>Natural programming</b> beam parameters:</label>
					<textarea class="textarea" spellcheck="false" id="synthesisbp" bind:value={np_beam_parameters_json}></textarea>
				</div>

				<div class="field">
					<label for="synthesisp"><b>Direct synthesis</b> solver parameters:</label>
					<textarea class="textarea" spellcheck="false" id="synthesisp" bind:value={synthesis_parameters_json}></textarea>
				</div>

				<div class="field">
					<label for="synthesisbp"><b>Direct synthesis</b> beam parameters:</label>
					<textarea class="textarea" spellcheck="false" id="synthesisbp" bind:value={synthesis_beam_parameters_json}></textarea>
				</div>

				<div class="field">
					<label for="solver_phase_timeout_p">Solver phase timeout:</label>
					<input type="number" id="solver_phase_timeout_p" bind:value={solver_phase_timeout} min="1" max="100000">
				</div>

				<div class="field">
					<label class="label">
						Max queue size
						<input class="input" type=number bind:value={max_queue_size}>
					</label>
				</div>

				<button class="button" type=submit disabled={!chain_id}>Go</button>
			</form>
		</div>
	{:catch err}
		Something wrong happened: {err}
	{/await}

	{#if executions_promise !== undefined}
		{#await executions_promise}
			<p>Searching chain executions...</p>
			<progress class="progress is-medium is-primary" max="100">1%</progress>
		{:then chain_executions}
			<div class="section">
				<h2 class="subtitle">Chain execution statistics</h2>
				Found:
				<table class="table">
					<thead><th>Metric</th><th>Value</th></thead>
					<tbody>
						<tr>
							<td>Total NPs</td>
							<td>{chain_executions.length}</td>
						</tr>
						<tr>
							<td>Unique NPs</td>
							<td>{(new Set(chain_executions.map(e=>e.np))).size}</td>
						</tr>
						<tr>
							<td>Failed submissions</td>
							<td>{chain_executions.filter(e=>"error" in e).length}</td>
						</tr>
						<tr>
							<td>Successful submissions</td>
							<td>{chain_executions.filter(e=>!("error" in e)).length}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="section">
				<h2 class="subtitle">Benchmark result</h2>
				<Benchmark
					executions={chain_executions}
					np_solver_parameters={JSON.parse(np_parameters_json)}
					synthesis_solver_parameters={JSON.parse(synthesis_parameters_json)}
					solver_phase_timeout={solver_phase_timeout}
					propose_parameters={JSON.parse(propose_parameters_json)}
					np_solver_beam_parameters={JSON.parse(np_beam_parameters_json)}
					synthesis_solver_beam_parameters={JSON.parse(synthesis_beam_parameters_json)}
					max_queue_size={max_queue_size}
					/>
			</div>
		{:catch err}
			Something wrong happened: {err}
		{/await}
	{/if}
</div>
