<script lang="ts">
	import ChainPlots from '$lib/ChainPlots.svelte';
	import { get_chain_ids } from '$lib/firebase';

	async function init() {
		return get_chain_ids();
	}

	let selected_chain_ids: string[] = [];

	const init_promise = init();
	let go = false;
</script>

<svelte:head>
	<title>Chain Plots</title>
	<meta name="description" content="Chain plots" />
</svelte:head>

{#await init_promise}
	<div class="section">
		<p>Retrieving chain IDs...</p>
		<progress class="progress is-medium is-primary" max="100">1%</progress>
	</div>
{:then chain_ids}
	{#if go === false}
	{#each chain_ids as chain_id}
		<div class="content">
			<div class="card">
				<div class="card-header">
					<div class="card-header-title">
						<div class="field">
							<label class="checkbox">
								<input type="checkbox" bind:group={selected_chain_ids} value={chain_id}>
								{chain_id}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	{/each}

	<div class="content">
		<button class="button is-danger" on:click={()=>{go=true;}}>Get data and plot</button>
	</div>
	{:else }
		<ChainPlots chain_ids={selected_chain_ids}/>
	{/if}
{/await}
