<script lang="ts">
	import ChainCreation from "$lib/ChainCreation.svelte";
	import ChainActivation from "$lib/ChainActivation.svelte";
	import { get_active_chain_node, get_available_chain_ids, get_chain, get_chain_ids, get_default_snapshots, sign_in_anonymously } from "$lib/firebase";
	import { base } from "$app/paths";
	const icon_directory = base+"/img/icons/";

	enum Tabs {
		active = "Active chains",
		create = "Create/Update ",
	};
	let selected = Tabs.active;

	async function init() {
		await sign_in_anonymously();
		const chain_ids = await get_chain_ids();
		const chains = [];
		for (const chain_id of chain_ids) {
			const active_node = await get_active_chain_node(chain_id);
			const height = (active_node === undefined) ?
				0 : active_node.height;
			chains.push({
				id: chain_id,
				height: height,
				chain: await get_chain(chain_id),
			});
		}
		return {
			default_snapshots: await get_default_snapshots(icon_directory),
			chains: chains,
			available_chain_ids: await get_available_chain_ids(),
			chain_ids: chain_ids,
		};
	}
	const init_promise = init();
</script>

<div class="tabs is-centered is-boxed">
	<ul>
		{#each Object.values(Tabs) as option}
			{#if selected === option}
			<li
				class="is-active"
				on:click={()=>{selected=option}}
			>
				<a>{option}</a>
			</li>
			{:else}
			<li
				on:click={()=>{selected=option}}
			>
				<a>{option}</a>
			</li>
			{/if}
		{/each}
	</ul>
</div>

{#await init_promise}
	<div class="container">
		<p>Loading chain settings...</p>
		<progress class="progress is-medium is-primary" max="100">1%</progress>
	</div>
{:then init_data}
	{#if selected === Tabs.active}
		<ChainActivation
			chains={init_data.chains}
			available_chain_ids={init_data.available_chain_ids}
			/>
	{:else if selected === Tabs.create}
		<ChainCreation snapshot_options={init_data.default_snapshots}/>
	{:else}
		<p>Unrecognized option {selected}!</p>
	{/if}
{/await}
