<script lang="ts">
	import ChainLoader from "$lib/ChainLoader.svelte";
	import ExperimentSurvey from "$lib/ExperimentSurvey.svelte";
	import Tutorial from "$lib/Tutorial.svelte";
	import { get_available_chain_ids } from "$lib/firebase";
	import { get_chain } from "$lib/firebase";
	import { get_new_session_id } from "$lib/firebase";
	import { get_new_user_id } from "$lib/firebase";
	import { get_snapshot } from "$lib/firebase";
	import { get_unix_time} from "$lib/firebase";
	import { write_chain_activity_ping } from "$lib/firebase";
	import { write_survey_response } from "$lib/firebase";
	import { write_tutorial_completion } from "$lib/firebase";
	import { assign_available_chain_id } from "$lib/firebase";
	import { base } from '$app/paths';
	import { onDestroy } from 'svelte';
	import { SessionType } from "$lib/session_snapshot";

	// Time for a chain to be considered inactive.
	const ms_for_chain_inactivity = 10*1000;
	const chain_ping_period_ms = 3*1000;

	// Once assigned, send a chain ping periodically to keep the chain active
	let chain_id: (null|string) = null;
	let chain_ping_interval = setInterval(() => {
		if (chain_id !== null)
			write_chain_activity_ping(chain_id);
	}, chain_ping_period_ms);


	const params = new URLSearchParams(window.location.search);
	const maybe_user_id = params.get("user");

	// Page flow
	let consent = false;
	let can_consent = false;
	let completed_tutorial_task = false;
	let completed_tutorial = false;
	let completed_task = false;
	let completed_survey = false;
	let progress_message = "An empty slot will be assigned to you as soon as possible.";

	// Survey
	async function complete_survey(data: any, session_id: string) {
		await write_survey_response({
			...data,
			session_id: session_id,
		});
		completed_survey = true;
		if (chain_ping_interval !== null) {
			clearInterval(chain_ping_interval);
		}
	}

	// Tutorial
	let tutorial_button: HTMLButtonElement;
	async function complete_tutorial(user_id: string) {
		tutorial_button.classList.add("is-loading");
		await write_tutorial_completion(user_id);
		completed_tutorial=true;
	}

	async function init() {
		const user_id = (maybe_user_id === null) ? await get_new_user_id() : maybe_user_id;

		const session_id = await get_new_session_id();
		const tutorial_session_id = await get_new_session_id();
		const remote_time_snapshot = await get_unix_time(session_id);
		const remote_time_snapshot_local_time = Date.now();
		function get_current_time() {
			return (Date.now() - remote_time_snapshot_local_time)/1000 + remote_time_snapshot;
		}

		const available_chain_ids = await get_available_chain_ids();
		if (available_chain_ids.length === 0)
			throw "The experiment is inactive at this time. Please come back later.";

		// Ask for an inactive chain
		while (chain_id === null) {
			try {
				chain_id = await assign_available_chain_id(
					ms_for_chain_inactivity,
					get_current_time(),
				);
			} catch (err) {
				progress_message = "An empty slot will be assigned to you as soon as possible. It seems there are no available slots, this may take a while. ";
				console.log(get_current_time());
				console.log(err);
				await new Promise(r => setTimeout(r, 2000));
			}
		}
		// Update message and display it (unecessary)
		progress_message = "Assigned to chain: " + chain_id;
		const eye_candy_promise = new Promise(r => setTimeout(r, 2000));

		// Load tutorial snapshot id (use the same natural programming snapshot for
		// both natural and synthesis sessions)
		const chain = await get_chain(chain_id);
		const initial_snapshot = await get_snapshot(chain.initial_snapshot_id, "");
		const mode = initial_snapshot.session_type;
		const tutorial_dp = "tutorial_dp";
		const tutorial_np = "tutorial_np";
		const tutorial_ps = "tutorial_ps";
		const tutorial_default_snapshot_id =
			(mode === SessionType.DirectProgramming) ? tutorial_dp :
			(mode === SessionType.NaturalProgramming) ? tutorial_np :
			(mode === SessionType.Multisolver) ? tutorial_np :
			tutorial_ps;
		const completion_code = chain.completion_code;

		await eye_candy_promise;
		return {
			user_id: user_id,
			chain_id: chain_id,
			session_id: session_id,
			tutorial_session_id: tutorial_session_id,
			completion_code: completion_code,
			tutorial_default_snapshot_id: tutorial_default_snapshot_id,
			item_copy_n: (chain.goal_parameters !== undefined) ? chain.goal_parameters.copy_n : null,
			session_timeout_ms: chain.session_timeout_ms,
			sat_item_bonus_usd: chain.sat_item_bonus_usd,
		};
	}

	const promise = init();

	onDestroy(() => {
		// Stop sending chain pings
		if (chain_ping_interval !== null) {
			clearInterval(chain_ping_interval);
		}
	});
</script>

{#await promise}
	<div class="container">
		<h2 class="subtitle">
			{progress_message}
		</h2>
		<div class="content">
			<progress class="progress is-medium is-primary" max="100">1%</progress>
		</div>
	</div>
{:then init_data}
	{#if !consent}
		<section class="section is-medium">
			<h2 class="title">Hi there!</h2>
			<h2 class="subtitle">Thank you for your interest in Natural Programming</h2>

			<article class="message is-warning">
				<div class="message-header">
					<p>Important</p>
				</div>
				<div class="message-body">
					This study can only run on a desktop or a laptop computer.
				</div>
			</article>

			<div class="content">
			In this study you will collaborate with a robot to craft some items The
			robot will already know how to craft some of the items, and you will be
			able to teach the robot how to build new items. At the end of the session
			we will ask you a few survey questions that do not affect your
			compensation The study is expected to take 15 minutes. Thank you for
			participating!
			</div>

			<article class="message is-info">
				<div class="message-header">
					<p>Informed Consent</p>
				</div>
				<div class="message-body">
					By answering the following questions you are participating in a study performed by scientists in the MIT Computer Science and Artificial Intelligence Laboratory. If you have questions about this research, please contact Leonardo Hernandez Cano at leohc@mit.edu. Your participation in this research is voluntary. You may decline to answer any or all of the following questions. You may decline further participation, at any time, without adverse consequences. Your anonymity is assured; the researchers who have requested your participation will not receive any personal identifying information about you. By clicking 'Begin' you indicate your consent to participate in this study.
				</div>
			</article>

			<div class="field">
				<label class="checkbox">
					<input type="checkbox" bind:value={can_consent}>
						I have read and understood the <a href={base+"/terms"} target="_blank">Privacy Policy</a>.
				</label>
			</div>

			<div class="field">
				<button class="button is-primary" on:click={()=>{consent=true;}} disabled={!can_consent}>Begin</button>
			</div>
	</section>
	{:else if !completed_tutorial_task}
		<Tutorial
			on:tutorial_complete={()=>{completed_tutorial_task=true}}
			user_id={init_data.user_id}
			session_id={init_data.tutorial_session_id}
			tutorial_default_snapshot_id={init_data.tutorial_default_snapshot_id}
			/>
	{:else if !completed_tutorial}
		<section class="section is-medium">
			<h2 class="title">Important! Please read carefully.</h2>
			<h3 class="subtitle">You finished the tutorial!</h3>
				{#if init_data.item_copy_n !== null}
					<!-- We have a target number of items -->
					<div class="content">
					<p>
					Your main task will be exactly like the tutorial, where you need to complete a number of sub-tasks, each sub-task being building {init_data.item_copy_n} copies of a certain item.
					</p>
					</div>

					<div class="content">
					<p>
					<b>However</b> the items will have more complicated recipes
					{#if init_data.session_timeout_ms !== null}
						and <b>you are limited to a total of {Math.round(init_data.session_timeout_ms/1000/60)} minutes</b>.
					{/if}
					</p>

					<p>
					You will be compensated regardless of how many sub-tasks you complete, as long as you have been proactive in tackling the task. We will review your submission to ensure that you are making an effort towards completing the task.
					</p>

					{#if init_data.sat_item_bonus_usd !== null && init_data.item_copy_n !== null}
					<p>
					In addition, you will receive a bonus of ${init_data.sat_item_bonus_usd} USD for every completed sub-task, for a maximum of ${init_data.sat_item_bonus_usd}&times{init_data.item_copy_n} = ${init_data.sat_item_bonus_usd*init_data.item_copy_n} USD. We do not expect every participant to craft all the items. 
					</p>
					{/if}
					</div>
				{:else}
						<!-- We do not have a target number of items. We explain the new task. -->
					<div class="content">
					<p>
						<b>The main task will be to craft the most complex items.</b> There will already be some items in the inventory. Your goal is to discover and build novel items that are not already in the inventory.
					</p>
					<p>
						The robot learns from the way in which users command it. The more detailed you are in your command, the more likely it is that the robot can understand future users and understand you. Thus, <b>it is better to say "craft bed with plank and cotton" than "bed".</b>
					</p>
					<p>
						<b>You will be compensated as long as you have been proactive in tackling the task</b>. We will review your submission to ensure that you are making an effort towards completing the task.
					</p>
					</div>
				{/if}

				<div class="content">
				<p>
				Once you complete your main task, you will answer a short survey and collect your compensation code.
				</p>
				</div>
			<div class="field">
				<button class="button is-primary" bind:this={tutorial_button} on:click={()=>{complete_tutorial(init_data.user_id)}}>Start main task</button>
			</div>
		</section>
	{:else if !completed_task}
		<ChainLoader
			chain_id={init_data.chain_id}
			user_id={init_data.user_id}
			session_id={init_data.session_id}
			configure={false}
			on:task_completed={()=>{completed_task=true}}
		/>
	{:else if !completed_survey}
		<ExperimentSurvey on:submit={event=>complete_survey(event.detail, init_data.session_id)}/>
	{:else}
		<section class="section is-medium">
			<h2 class="title">Thank you for your time!</h2>
			<h2 class="subtitle">Here is your completion code</h2>
			<div class="content">
				<pre>{init_data.completion_code}</pre>
			</div>
		</section>
	{/if}
{:catch err}
	<div class="container">
		<article class="message is-danger">
			<div class="message-header">
				<p>Error</p>
				<button class="delete" aria-label="delete"></button>
			</div>
			<div class="message-body">
				Something wrong happened: {err}
			</div>
		</article>
	</div>
{/await}
