<svelte:head>
	<title>IDE</title>
	<meta name="description" content="Natural Programming IDE" />
</svelte:head>

<section class="hero is-primary is-fullheight-with-navbar">
	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container">
			<p class="title">
				Natural Programming
			</p>
			<p class="subtitle">
				A programming paradigm about robust programs.
			</p>
		</div>
	</div>
</section>
