<script lang="ts">
	import { get_chain_ids } from "$lib/firebase";
	import { simulate_node } from "$lib/simulation";

	let chain_id: string;
	let node_n = 5;

	let chain_ids_promise = get_chain_ids();
	let deciding = true;

	let automatic_session_message = "";
	let current_node_i = 0;

	async function main() {
		while (current_node_i < node_n) {
			// Clear message to avoid memory leak
			automatic_session_message = "";
			const generator = simulate_node(chain_id);
			for await (const message of generator) {
				automatic_session_message = automatic_session_message + "\n" + message;
			}
			current_node_i++;
		}
	}
</script>

<div class="container">
	<h1 class="title">Simulation</h1>

	<div class="content">
		Running the simulation involves simulating successive users interacting
		with the system on a chain.
	</div>

	{#if deciding}
	<div class="container">
		<form on:submit|preventDefault|once={()=>{deciding=false; main();}}>
		{#await chain_ids_promise}
			<p>Loading chain data...</p>
		{:then chain_ids}
			<div class="field">
				<label class="label" for="mode">Chain:</label>
				<div class="select">
					<select id="mode" bind:value={chain_id}>
						{#each chain_ids as chain_id}
							<option value={chain_id}>
								{chain_id}
							</option>
						{/each}
					</select>
				</div>
			</div>
		{/await}

			<label class="label">
				Number of nodes to simulate:
				<input class="input" type=number bind:value={node_n}>
			</label>

			<button class="button" type=submit>Go</button>
		</form>
	</div>
	{:else}
		<progress class="progress is-medium is-primary" value={current_node_i} max={node_n}></progress>
		<pre>{automatic_session_message}</pre>
	{/if}
</div>
