<div class="container">
	<section class="section">
		<h1 class="title">Privacy Policy</h1>
		<div class="content">
			<h2 class="subtitle">The type of personal information we collect</h2>
			We collect the following data:

			<ul>
				<li>Survey responses</li>
				<li>Interactions with the block editor</li>
				<li>Access dates and times</li>
				<li>Activity time</li>
				<li>Anonymized user IDs</li>
			</ul>
		</div>

		<div class="content">
			<h2 class="subtitle">How we get this information and why we have it</h2>
			Most of the personal information we process is provided to us directly by you when completing a survey or interacting with the online editor. Additionally, we record the date and time in which you perform certain actions on the website.

			We use this information to study how people interact with computers.

			We may publish any collected data at our discretion.
		</div>

		<div class="content">
			<h2 class="subtitle">How to contact us</h2>
			You may submit an issue on <a href="https://gitlab.com/da_doomer/crafting-natural-language/-/issues">this project's Git repository</a>.
		</div>
	</section>
</div>
