<script lang="ts">
	import { get_new_session_id, get_new_user_id, sign_in_anonymously } from "$lib/firebase";
	import Tutorial from "$lib/Tutorial.svelte";

	let completed_tutorial = false;
	const tutorial_default_snapshot_id = "tutorial_np";

	async function init() {
		await sign_in_anonymously();
		const user_id = await get_new_user_id();
		const session_id = await get_new_session_id();
		await new Promise(r => setTimeout(r, 2000));
		return {
			user_id: user_id,
			session_id: session_id,
		};
	}
	const promise = init();
</script>

{#if !completed_tutorial}
	{#await promise}
		<div class="container">
			<h2 class="subtitle">
				Generating user ID
			</h2>
			<div class="content">
				<progress class="progress is-medium is-primary" max="100">1%</progress>
			</div>
		</div>
	{:then init_data}
		<Tutorial
			on:tutorial_complete={()=>{completed_tutorial=true}}
			session_id={init_data.session_id}
			user_id={init_data.user_id}
			tutorial_default_snapshot_id={tutorial_default_snapshot_id}
			/>
	{/await}
{/if}

{#if completed_tutorial}
	<section class="section is-medium">
		<h2 class="title">Congratulations!</h2>
		<h2 class="subtitle">You completed the tutorial</h2>
		<div class="content">
			There is nothing else to do in this page, feel free to explore the rest of the website!
		</div>
	</section>
{/if}
